@charset "utf-8";
*{margin:0; padding:0;  }
img{border:none;}
body{
  background: url(../img/game/bodybackground.png) no-repeat  fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.center {
    width: 600px;
    height: 400px;
    background-image: url(../img/index/login_bg.png);
    border-radius: 30px;
    visibility: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 15%;
    margin: 0 auto;
}
.center .title{
    width: 200px;
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 30px;
    text-align: center;
    font-size: 40px;
    font-family: "黑体";
    font-weight: bolder;
}
.center .in{
    width: 400px;
    height: 250px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 80px;
}
.center .in .putin{
    width: 300px;
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 40px;
}

.center .in .putin .text{
    float: left;
    width: 70px;
    height: 25px;
    margin: 0 auto;
}

.center .in .putin input{
    margin-top: -5px;
    margin-left: 10px;
    height: 30px;
    width:200px;
}

.center .in .button_div{
    width: 300px;
    height: 70px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 160px;
}

.center .in .button_div button{
    width: 100px;
    height: 50px;
    margin-top: 10px;
    margin-left: 30px;
    cursor: pointer;
}
#register .center{
  animation: suofang 0s forwards;
}
#to_login {
  background:transparent url('../img/index/button_login.png');
  border: 0px solid transparent;
  outline: none;

}
#to_role_in {
  background:transparent url('../img/index/button_login.png');
  border: 0px solid transparent;
  outline: none;
  width: 100px;
  height: 50px;
  margin-top: 300px;
  margin-left: calc(50% - 50px);
  cursor: pointer;
}
[ad='left']{
  background: url('../img/index/gong.png');
  background-size: cover;
}
[ad='center']{
  background: url('../img/index/jun.png');
  background-size: cover;
}
[ad='right']{
  background: url('../img/index/shou.png');
  background-size: cover;
}
#role .user_role{
  position:absolute;
  width: 80px;
  height: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 130px;
  cursor: pointer;
}
#role .user_role.chouse{
  box-sizing: border-box;
  border-width: 5px;
  border-color: blanchedalmond;
  border-style: solid;
}
#role .role_info{
  width: 200px;
  height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 230px;
  text-align: center;
  font-size: 40px;
  font-family: "黑体";
  font-weight: bolder;
}
.fuxian{
  animation: fuxian 300ms forwards;
}
.shanchu{
  animation: suofang 300ms forwards;
}
@keyframes fuxian {
  from{
    visibility:visible;
    opacity:0%;
    /* top: 55%; */
  }
  to{
    visibility:visible;
    opacity: 100%;
    /* top: 15%; */
  }
}
@keyframes suofang {
  /*from{
    opacity:100%;
  }
  to{
    opacity: 0%;
    visibility:hidden;
  }
  */
  from {
    clip-path: circle(100% at 50% 50%);
  }
  to {
    clip-path: circle(0% at 50% 50%);
    visibility:hidden;
  }
}
@keyframes to_left{
  0%{
    transform: translateY(-30px);
  }
  50%{
    transform: translateY(0px);
  }
  100%{
    transform: translateX(-130px);
  }
}
@keyframes to_center{
  0%{
    transform: translateY(-30px);
  }
  50%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(0px);
  }
}
@keyframes to_right{
  0%{
    transform: translateY(-30px);
  }
  50%{
    transform: translateY(0px);
  }
  100%{
    transform: translateX(130px);
  }
}
@keyframes huangdong{
  0%{
    transform: translateX(0px);
  }
  25%{
    transform: translateX(-3px);
  }
  50%{
    transform: translateX(3px);
  }
  75%{
    transform: translateX(-3px);
  }
  100%{
    transform: translateX(0px);
  }
}
